Dear customer mandate reference no: $pinNo issue to $pullCode with value $firstCheque and frequency $services is received today for processing. In case of any issue please get in touch with your branch.
