<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <body> 
    Dear Customer,
    <br/><br/>We thank you for banking with us. Your E-statement has been attached as a PDF document, which is password protected and the
    <br/>Password is $dob in the format of DDMMYYYY.
    <br/><br/>
    Please do not reply to this message or mail address. For any query, please contact your concern bank/branch.
    <br/><br/>
    Sincerely
    <br/><br/>
    $bankName
    <br/><br/>
    <hr size="1" align="left" width="100%" color="#000000">
    <br/><br/>
</body>
</html>
