.gridrow1 {
    background-color: #edebeb;
    height:20px;
}
.gridrow2 {
    background-color: #e8eef7;
    height:20px;
}
.highlightrow {
    background-color: red;
    color: white;
    font-weight: bold;
}
.row1 {
    background-color: #edebeb;
    height:30px;
    width:100%;
}
.row2 {
    background-color: #e8eef7;
    height:30px;
    width:100%;
}
.col0{   
    width:8%;
}
.col1{   
    width:15%;
}
.col2{
    width:20%;
}
.col3{
    width:17%;
}
.col4{
    width:18%;
}

.col5{
    width:55%;
}

.col8{
    width:45%;
}

.col6{
    width:80%;
}
.col7{
    width:30%;
}
.col9{
    width:50%;
}
.col10{
    width:40%;
}
.col11{
    width:60%;
}
.col12{
    width:70%;
}
.col13{
    width:25%;
}

.col14{
    width:75%;
}

.col15{
    width:12%;
}

.col16{
    width:3%;
}

.col17{
    width:10%;
}

.col18{
    width:8%;
}

.col19{
    width:30%;
}

.col20{
    width:26%;
}

.col21{
    width:37%;
}

.col22{
    width:35%;
}
.col23{
    width:13%;
}
.col51{
    width:51%;
}
.col85{
    width:85%;
}
.col91{
    width:10%;
}
.col49{
    width:49%;
}
.col52{
    width:16%;
}
.col42{
    width:42%;
}
.x9 {background-color:#9db2dd}

.vtop{
    vertical-align:top;
}
.dr-pnl-b{
    font-size:14px;
    padding:5px;
    color:#044F93;
    font-weight:bold;
}

.rich-calendar-input{
    height:15px;
    font-size:10px;
    border:1px solid #BED6F8;
}

.rich-header{
    text-align: center;
}

.rich-mpnl-body{
    padding:0px;
}

.input{
    font-size:11px;
    height:15px;
    border:1px solid #BED6F8;
    color:#000;
}

.textarea{
    font-size:11px;
    height:30px;
    width:120px;
    border:1px solid #BED6F8;
}

.output{
    font-size:11px;
}
.headerLabel{
    font-size:12px;
}

.label{
    font-size:11px;
}
.error{
    font-size:12px;
    color:red;
}
.msg{
    font-size:12px;
    color:blue;
}

.ddlist{
    font-size:11px;
    height:18px;
}

.TreeRootRow_sun4, .TreeRootRowHeader_sun4 {
    background-color:transparent;
}

.TreTtl_sun4{
    background:url(images/globe.gif) no-repeat left top;
    color:#666666;
    padding-left: 18px;
}

.header{
    background:url(images/header_bg.png) repeat-x;
    height:35px;
    border:3px ridge #BED6F8;
    text-align:center;
    width:100%;
}
.footer{
    background:url(images/header_bg.png) repeat-x;
    height:35px;
    border:3px ridge #BED6F8;
    text-align:center;
    width:100%;
}

.welcome{
    background:url(images/header_bg.png) repeat-x;
    height:35px;
    border-top:3px ridge #BED6F8;
    border-bottom:1px ridge #BED6F8;
}

.footer_left{
    background:url(images/header_bg.png) repeat-x;
    height:35px;
    border:3px ridge #BED6F8;
}

h3{
    font-size:12pt;
    font-weight: bold;
    color:#044F93;
    height:24px;
}
table.style1{
    background-color:#e8eef7;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    height:40px;
    width:100%;
    border:0px;

}

table.style2{
    background-color: #C3D9FF;
    width:100%;
    font-family: Arial;
    font-size: 15px;
    height:40px;
    border:0px;

}

.menu_separator{
    float:left;
    background-color : #9db2dd;
    height : 5px;
    font-size : 1px;
}


.rich-toolbar-item {
    padding:2px 5px;
    color: #044F93;
}

.rich-ddmenu-label-select {
    color: #044F93;
}

.rich-menu-item, 
.rich-menu-item a, 
.rich-menu-item a:hover, 
.rich-menu-item a:visited, 
.rich-menu-group, 
.rich-menu-group a, 
.rich-menu-group a:hover, 
.rich-menu-group a:visited{
    color: #044F93;
}

.CalPopFldLbl_sun4{
    margin-right:0px;
    padding-top:0px;
}

.blink_text {
    text-decoration:blink;
    font-size:15px;
}

.LblLev1Txt_sun4, 
.LblLev2Txt_sun4, 
.LblLev2smTxt_sun4, 
.LblLev1TxtDis_sun4, 
.LblLev2TxtDis_sun4, 
.LblLev2smTxtDis_sun4, 
.LblLev3Txt_sun4, 
.LblLev3TxtDis_sun4{
    font-weight:normal;
}

.rich-panel-body{
    padding:1px;
}

.hidelink{
    cursor: pointer;
}

body{
    width: 100%;
    background: url("/cbs-jsp/resources/images/bg.jpg") no-repeat #ffffff;
    margin: 0 auto;
    border: 0px #F00 solid;
    padding:0px;

}

textarea, input[type="text"], input[type="password"], select {
    background-color: #FFFFFF;
    background-image: url("images/inputBgImg.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    border-color: #BED6F8;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;

}

button, input[type="reset"], input[type="submit"], input[type="button"] {
    background-color: #BED6F8;
    background-image: url("images/buttonBgImg.png");
    background-position: left top;
    background-repeat: repeat-x;
    border-color: #BED6F8;
    border-width: 1px;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    cursor: pointer;
    height: 20px;
}

button:disabled, input[type="reset"]:disabled,input[type="submit"]:disabled, input[type="button"]:disabled{
    color: gray;
    border: 0;
    cursor: default;
}

#UserSearchResBox {
    height: 233px;
    overflow: auto;
    width: 100%;
}
.hidden {
    display: none;
}
.noTableBorder {
    border-collapse: separate;
    border: 0px;
}
.extdt-header-sort-img {
    width: 0px !important;
}
.noBottomLine {
    border-bottom: 0px;
    border-right: 0px;
    padding: 4px 0px;
}
.img {
    min-width: 125px;
    min-height: 155px;
    width: 125px;
    height: 155px;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 11px;
}

.col33{
     width:17%;
     text-align: center;
}